bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
.idea/
.idea_modules/
/dist/
.cache
activator
activator.bat
activator-launch-1.2.3.jar
activator-sbt-echo-akka-shim.sbt
