@(title: String)(content: Html)(implicit flash:Flash)
<!DOCTYPE html>

<html>
    <head>
        <title>Admin - Mariage Marie et Benoît</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>

        <div class="navbar">
            <ul class="nav navbar-nav">
                <li><a href="@routes.AdminController.manageWinningDefinitions()">Définir les prix</a></li>
                <li><a href="@routes.AdminController.manageLostDefinition()">Définition perdante</a></li>
                <li><a href="@routes.AdminController.viewGifts()">Participations</a></li>
                <li><a href="@routes.AdminController.viewUnconfirmedParticipations()">En attente</a></li>
            </ul>
        </div>
        <div class="container">

            <div class="page-header">
                <h1>@title</h1>
            </div>
            <div class="row">
                @if(flash.get("success").isDefined){
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @flash.get("success")
                    </div>
                }
                @if(flash.get("error").isDefined){
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @flash.get("error")
                    </div>
                }

            @content
            </div>

        </div> <!-- Fin container principal -->

    </body>
</html>