@()

<!DOCTYPE html>

<html>
    <head>
        <title>Login - Mariage Marie et Benoît</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>

       <div>
           @helper.form(action = routes.AdminController.login()) {
               <input type="password" name="login">
               <input type="submit" value="Please, let me in !">
               }
       </div>

    </body>
</html>