<!DOCTYPE html>

<html>
    <head>
        <title>Mariage Marie et Benoît</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/wScratchPad.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/handlebars-v1.3.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/ember.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/ember-data.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("templates/templates.pre.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/emberApplication.js")" type="text/javascript"></script>
    </head>
    <body>
    </body>
</html>
