<div class="page-content">

<div id="title"><img src="/assets/images/code.png" alt=""></div>
<div>
    {{#if generalError}}
        Mauvais code, veuillez réessayer.
    {{/if}}
    {{input type="text" value=participationCode}}&nbsp;&nbsp;<div class="myButton" {{action 'sendCode'}}>Validez le code</button>
</div>
</div>