<div class="page-content">

 <div id="title"><img src="/assets/images/dresscode22.png" alt=""></div>
        
       
        
<img src="/assets/images/dresscode2.png" alt="">

    <p>Ces couleurs feront partie de la décoration du mariage. Si le coeur vous en dit, vous pouvez vous en inspirer pour votre tenue du jour J (mais il n'y a bien entendu aucune obligation ;-)).</p>
        


            


</div>