<div class="page-content">

 <div id="title"><img src="/assets/images/dresscode22.png" alt=""></div>
        
       
        
<img src="/assets/images/dresscode2.png" alt="">
        


            


</div>