<div class="page-content">

    <div id="title"><img src="/assets/images/info.png" alt=""></div>
    saison : l'été car elle est toujours rayonnante
    film : coup de foudre à Notting Hill (parce qu'elle aime bien faire des calins)
    couleur : brun taupe car c'est la jolie couleur qui décore notre appart'
    animal : un taguan car c'est grâce à son totem que j'ai entendu pour la première fois parler d'elle
    object : un bidule parce que c'est ainsi
    nombre : 4 mais ce serait quand même mieux 2
    une boisson : un somersby parce que ça pétille (et parce que c'est bon !)
    un plat : un spaget bolo parce qu'elle adore ça
    jour : les vendredis soirs sans ping pong
    instrument de musique : une jukebox pour ses talents d'imitation de bruits d'animaux
</div>