<div class="page-content">

 <div id="title"><img src="/assets/images/elleparluiban.png" alt=""></div>
        
        <div class="cadremessage">
            <span class="lpe">Si elle était :</span> </br></br>

            * Une saison :<span class="lpe"> L'été </span> (Parce qu'elle est toujours rayonnante) </br></br>
            * Un film :<span class="lpe"> Coup de foudre à Notting Hill </span> (Pour le romantisme.) </br></br>
            * Une couleur :<span class="lpe"> Le beige "taupe" </span> (Parce que c'est la jolie couleur avec laquelle elle décore notre appart'.) </br> </br>
            * Un animal :<span class="lpe"> Le Taguan </span> (Parce que c'est grâce à son totem que j'ai entendu parler d'elle pour la première fois.)  </br></br>
            * Une boisson :<span class="lpe"> Un somersby </span>  (Pour le pétillant... et parce que c'est bon !)  </br></br>
            * Un fruit : <span class="lpe"> Le piment </span>  (Sans elle, la vie serait fade et sans saveur.)  </br></br>
            * Un plat :<span class="lpe"> Un spaghet' bolo </span> (Parce qu'elle adore ça !) </br></br>
            * Un jour :<span class="lpe"> Un vendredi </span>  (sans ping-pong.)  </br></br>
            * Un instrument de musique :<span class="lpe"> Un jukebox </span>  (Pour ses talents d'imitation de bruits d'animaux.) </br></br>
           

            <span class="lpe">♪ Ma main dans la tienne quoi qu'il advienne : soleil ou nuage, ciel bleu ou orage, qu'à cela ne tienne car je t'aime ♪"</span>

        </div>

            


<iframe width="420" height="315" src="https://www.youtube.com/embed/tQKNYnHEVjk" frameborder="0" allowfullscreen></iframe>



</div>