
<div class="page-content">
     <div id="title"><img src="/assets/images/accueil.png" alt=""></div>
         Le site web n'est pas terminé, merci de revenir après le 13 février. 
     <div id="tableaccueil">
     	<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="700" HEIGHT="700">
	
			<TR>
	
			<TD>{{#link-to 'nousenimages'}}<IMG SRC="/assets/images/histoire.png" BORDER="0" HEIGHT="300" WIDTH="280" class="opacity" {{/link-to}}</TD>
			<TD>{{#link-to 'nousenimages'}}<IMG SRC="/assets/images/oui.png"  BORDER="0" HEIGHT="300" WIDTH="280" class="opacity2" {{/link-to}}</TD>
			<TD>{{#link-to 'informations'}}<IMG SRC="/assets/images/programme.png"  BORDER="0" HEIGHT="300" WIDTH="280" class="opacity" {{/link-to}}</TD>
			</TR>
			<TR>
			<TD>{{#link-to 'informations'}}<IMG SRC="/assets/images/venir.png"  BORDER="0" HEIGHT="300" WIDTH="280" class="opacity2" {{/link-to}}</TD>
			<TD>{{#link-to 'nousenimages'}}<IMG SRC="/assets/images/luiparelle.png"  BORDER="0" HEIGHT="300" WIDTH="280" class="opacity" {{/link-to}}</TD>
			<TD>{{#link-to 'elleparlui'}}<IMG SRC="/assets/images/elleparlui.png"  BORDER="0" HEIGHT="300" WIDTH="280" class="opacity2" {{/link-to}}</TD>
			</TR>
			<TD>{{#link-to 'nousenimages'}}<IMG SRC="/assets/images/dresscode.png"  BORDER="0" HEIGHT="300" WIDTH="280" class="opacity2" {{/link-to}}</TD>
			<TD>{{#link-to 'messages'}}<IMG SRC="/assets/images/boitemessages.png"  BORDER="0" HEIGHT="300" WIDTH="280" class="opacity" {{/link-to}}</TD>
			<TD>{{#link-to 'lottery'}}<IMG SRC="/assets/images/cadeaux.png"  BORDER="0" HEIGHT="300" WIDTH="280" class="opacity" {{/link-to}}</TD>
			</TR>
		
		</TABLE>
	</div>
</div>