
<div class="page-content">
     <div id="title"><img src="/assets/images/accueil.png" alt=""></div>
     <p> Je t'aime mon lapin</p>       
</div>
<div>{{#link-to 'lottery'}}Vers les cadeaux de mariage{{/link-to}}</div>
