

<div class="page-content">
	
    <div id="title"><img src="/assets/images/info.png" alt=""></div>
     	<p><b><u>* Planning de la journée du 11 avril 2015</u></b></p>
     		<img src="/assets/images/mariagebanner.png" alt="">
     	<p><b><u>* Adresses du jour</u></b></p>
     	<p>Le mariage religieux aura lieu en l'Eglise de la Sainte-Vierge de Silly (Place communale).</p>
     	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80971.93300598703!2d3.9594412119140734!3d50.6387652336404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3acfbcba3d60b%3A0xa7137c598259edf3!2sPlace+Communale%2C+7830+Silly%2C+Belgium!5e0!3m2!1sen!2sbe!4v1423512234523" width="600" height="450" frameborder="0" style="border:0"></iframe>
     	<p>La fête aura lieu à la Ferme de la Hove à Mignault (Rue des Combattants, 122).</p>
    	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d81119.74692028256!2d4.209154058007821!3d50.552917070688686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c235f79c624865%3A0xa059c760a9e853ab!2sRue+des+Combattants+122%2C+7070+Le+Roeulx!5e0!3m2!1sfr!2sbe!4v1423511446006" width="600" height="450" frameborder="0" style="border:0"></iframe>

</div>