<div class="page-content">
    <p class="styled">De tout coeur, nous vous remercions pour votre cadeau. Nous attendons avec impatience de vous voir le 11 avril prochain !<br />Vous recevrez un email avec votre code dès réception du virement.</p>
</div>
