<h1>Lotterie</h1>
<div>Explications de la lotterie</div>
<div>{{#link-to 'newUnboundGift'}}Je souhaite faire un don sans participer à la lotterie{{/link-to}}</div>
<div>{{#link-to 'newLotteryParticipation'}}Je souhaite participer à la lotterie{{/link-to}}</div>