<div class="page-content">
    <p class="styled">Merci beaucoup pour votre don. Nous attendons avec impatience de vous voir le 11 avril !<br />Vous recevrez un email avec votre code dès réception du virement.</p>
</div>
