<div class="page-content">
     <div id="title"><img src="/assets/images/loterie.png" alt=""></div>    

<p>Si vous souhaitez participer à notre voyage de noces ou contribuer à nos projets d'achat de notre futur nid, vous pouvez le faire via cette page. Cependant, n'oubliez pas que le plus important pour nous, c'est votre présence le jour-J =) ! <br /></p>

<p>Pour vous remercier de votre contribution à nos futurs projets, nous vous avons concocté un petit jeu, sous la forme d'une <strong>loterie</strong> ! Oui, oui, cela veut dire que vous recevrez des cartes à gratter à échanger contre des cadeaux en tous genres le jour du mariage !</p>

<p>Le principe est le suivant :</p>

    <ul>
        <li>Vous {{#link-to 'newLotteryParticipation'}}commandez{{/link-to}} le nombre de tickets de loterie que vous souhaitez. Un ticket vaut 10€.</li>
        <li>Nous recevrons immédiatement votre demande et nous vous enverrons un mail avec un <strong>code</strong> dès réception du payement sur notre compte (BE73 0634 2911 1160).</li>
        <li>Une fois le mail reçu, via ce site internet, vous pouvez {{#link-to 'code'}}introduire votre code{{/link-to}}.</li>
        <li>Vous arriverez sur une page avec tous <strong>les tickets à gratter</strong> commandés. Plein de <strong>lots décalés et de nombreuses surprises</strong> à la clé, à recevoir le jour du mariage !</li>
    </ul>

<div class="myButton">{{#link-to 'newLotteryParticipation'}}Super, je participe à la loterie !{{/link-to}}</div>

<p class="styled">Euh, n'y aurait-il pas moyen de faire simplement un cadeau sans participer à la loterie ?</p>
    <p>Bien entendu ! Vous pouvez faire votre cadeau sur le compte BE73 0634 2911 1160 et si vous le souhaitez nous laisser {{#link-to 'newUnboundGift'}}un petit message{{/link-to}}
     afin que nous puissions vous remercier.</p>


<div class="myButton">{{#link-to 'newUnboundGift'}}Je souhaite faire un cadeau sans participer à la loterie{{/link-to}}</div>

</div>