<div class="page-content">
     <div id="title"><img src="/assets/images/loterie.png" alt=""></div>    
<div>Explications de la lotterie</div>
<div>{{#link-to 'newUnboundGift'}}Je souhaite faire un don sans participer à la lotterie{{/link-to}}</div>
<div>{{#link-to 'newLotteryParticipation'}}Je souhaite participer à la lotterie{{/link-to}}</div>
</div>