

<div class="page-content">
	
    <div id="title"><img src="/assets/images/luiparelleban.png" alt=""></div>
    	
     	<div class="cadremessage">
     		* Une chanson :<span class="lpe"> Felicità </span> (♪♪ ... è un bicchiere di vino con un panino, è cantare a due voci quanto mi piaci... ♪♪  ) </br></br>
     		* Une fleur :<span class="lpe"> Une fleur d'Hibiscus </span> (Pour ses 5 pétales : je l'aime, un peu, beaucoup, passionnément, à la folie.) </br></br>
     		* Un fruit :<span class="lpe"> Le fruit de la passion </span> </br> </br>
     		* Un sport :<span class="lpe"> Le ping-pong </span> (Evidemment !)  </br></br>
     		* Une activité :<span class="lpe"> La randonnée </span>  (Parce qu'à ses côtés, la route est toujours belle.)  </br></br>
     		* Un film :<span class="lpe"> Star Wars, Hunger Games, Matrix, Le Seigneur des Anneaux... </span> (Un de ces films qu'il peut regarder des centaines de fois sans se lasser !) </br></br>
     		* Une friandise :<span class="lpe"> Le Ferrero Rocher </span>  (La pépite d'or à laquelle je ne peux pas résister.)  </br></br>
     		* Un livre :<span class="lpe"> Un livre de Murakami </span>  (Parce qu'il m'enchante et me porte dans ses rêves.) </br></br>
     		* Un endroit :<span class="lpe"> L'Eau Vive </span> (Parce qu'il adore les Resto' gastronomiques et que c'est là qu'il m'a posé THE question.)  </br></br></br>

     		<span class="lpe">♪ "Est-ce que tu veux me donner ta main pour tout le temps qu'on sera bien, est-ce que tu veux partager mon chemin ? Moi, je dis oui pour le tien." ♪</span>

		</div>

		<iframe width="420" height="315" src="https://www.youtube.com/embed/wi262WKivp4" frameborder="0" allowfullscreen></iframe>


</div>